html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #2e2e2e;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.controls .left, .controls .right {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#modeSelect, #downloadButton {
  padding: 6px 10px;
  font-size: 12px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#startButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  border: 1px solid #333;
  background-color: #ca258b; /* Changed color to a more vibrant blue */
  color: #ffffff; /* Changed text color to white */
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#startButton:hover {
  background-color: #9e1e6d; /* Darken color on hover */
}
#startButton::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"><polygon points="7,3 21,12 7,21"/></svg>'); /* Updated fill color */
  display: block;
  width: 24px;
  height: 24px;
}
#startButton.playing::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"><rect x="6" y="4" width="4" height="16"/><rect x="14" y="4" width="4" height="16"/></svg>'); /* Updated fill color */
}
#modeSelect:hover, #downloadButton:hover {
  background-color: #3e3e3e;
}
#modeSelect:focus, #startButton:focus, #downloadButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}
.progress-bar-container {
  width: 100%;
  background-color: #333;
  height: 10px;
  position: fixed;
  top: 50px; /* Position right below the controls container */
}
.progress-bar {
  width: 0;
  height: 100%;
  background-color: #007bff;
}
.canvas-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 70px; /* Adjust margin to avoid overlap with controls and progress bar */
}
.canvas-wrapper {
  position: relative;
}
canvas {
  display: block;
  border: 1px solid #535353;
  background-color: #383838;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  display: none; /* Initially hidden */
}
